<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Add Video
                </div>
                <div class="body p-3">
                    <button #addBtn class="btn btn-primary">
                        Add Video
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Video List</div>
                <div class="card-body p-3">
                    <ul id="elContainer"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Video List</div>
                <div class="card-body p-3">
                    <ul id="elContainer2"></ul>
                </div>
            </div>
        </div>
    </div>
</div>