<div class="container">
    <div class="row  text-center">
        <div class="col-md-3">
            <div class="card p-3 ">
                <a routerLink="fromEvent">fromEvent</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-3">
                <a routerLink="interval">Interval</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-3">
                <a routerLink="of-from">Of and From</a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-3">
                <a routerLink="fromEvent">fromEvent</a>
            </div>
        </div>
    </div>
</div>