<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3">
                <h5 class="text-center">Ex.1 With Promise</h5>
                <button class="btn btn-primary" (click)="fetch1()">Submit</button>
                <div id="result1" class="text-center mt-2">Data</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <h5 class="text-center">Ex.2 Aysnc/Await</h5>
                <button class="btn btn-primary" (click)="fetch2()">Submit</button>
                <div id="result2" class="text-center mt-2">Data</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <h5 class="text-center">Ex.1 Fetch API</h5>
                <button class="btn btn-primary" (click)="fetch3()">Submit</button>
                <div id="result3" class="text-center mt-2">Data</div>
            </div>
        </div>
    </div>
</div>